@{
    ViewData["Title"] = "Home Page";
}

<div class="layui-bg-gray" style="padding: 16px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">日记统计</div>
                <div class="layui-card-body">
                    你已经写了<span id="diaryCount">@ViewBag.DiaryCount</span>篇心情日记！
                    <br />向我吐槽吧，我会保守所有秘密！
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    @ViewBag.UserAccount
</div>
<div class="text-center">
    @ViewBag.Msg
</div>

